@import '../../scss/base.scss';

.defaultPage {
    border: 1px solid $color-primary;
    height: calc(100vh - 7rem);

    @include colors($no-color, $color-tertiary);
    @include borderTopRadius;
    @include borderBottomRadius;
    @include noScroll;
}

.dpHeader {
    position: sticky;
    top: 0;
    padding: 0 1rem;

    @include borderTopRadius;
    @include colors($color-primary, $color-secondary);
    @include fonts($font-titillium, $font-lg, 600, $color-darker);
}

.dpChildren {
    padding: 1rem;
    @include fonts($font-noto, $font-md, 400, $color-tertiary);
}

::-webkit-scrollbar {
  display: none;
}