@import '../../scss/base.scss';

.defaultPage {
    border: 1px solid $color-primary;
    min-height: 90vh;

    @include colors($no-color, $color-tertiary);
    @include borderTopRadius;
    @include borderBottomRadius;
    @include noScroll;
}

.dpHeader {
    padding: .5rem 1rem;

    @include borderTopRadius;
    @include colors($color-primary, $color-secondary);
    @include fonts($font-titillium, $font-lg, 600, $color-secondary);
}

.dpChildren {
    padding: 1rem;
    @include fonts($font-noto, $font-md, 400, $color-tertiary);
}

::-webkit-scrollbar {
  display: none;
}