@import '../../scss/base.scss';

.defaultPage {
    border: 1px solid map-get($colors, primary);
    height: calc(100vh - 7rem);

    @include colors(
        map-get($colors, transparent), 
        map-get($colors, tertiary)
    );
    
    @include borderTopRadius;
    @include borderBottomRadius;
    @include noScroll;
}

.dpHeader {
    position: sticky;
    top: 0;
    padding: 0 1rem;

    @include borderTopRadius;
    @include colors(
        map-get($colors, primary), 
        map-get($colors, secondary)
    );
    @include fonts(
        map-get($font-family, titillium), 
        map-get($font-size, lg), 
        600, 
        map-get($colors, darker)
    );
}

.dpChildren {
    padding: 1rem;
    
    @include fonts(
        map-get($font-family, noto), 
        map-get($font-size, md), 
        400, 
        map-get($colors, tertiary));
}

::-webkit-scrollbar {
  display: none;
}