@import '../../../scss/shared.scss';

.section {
    position: relative;
    background-color: rgba(map-get($colors, darker), .6);
    padding: 1rem;

    &-title {
        padding: 0;
        margin: 0;
    }

    &-body {
        color: map-get($colors, lighter);
    }

    @media only screen and (max-width:767px) {
        background: none;
    }
}