@import '../../../scss/shared.scss';

.section {
    position: relative;
    padding: 1rem;

    &-title {
        padding: 0;
        margin: 0;
    }

    &-body {
        position: relative;
        color: map-get($colors, lighter);
    }
}