@import '../../scss/shared.scss';

.music {
    @include flexbox(column);

    &-guitar, &-player {
        margin-top: 1rem;
        display: inline-block;
        vertical-align: top;
   
        @media only screen and (max-width:767px) {
            display: block;
            margin: 0 !important;
            margin-top: 1rem !important;
            padding: 0 !important;
            background: none;
        }
    }
    
    &-guitar {
        a, img {
            padding: 0;
            margin-left: .5rem;
            width: 10vw;
            border: solid 1px transparent;

            @include borderTopRadius;
            @include borderBottomRadius;
        
            @media only screen and (max-width:767px) {
                display: block;
                margin: 0;
                width: 83vw;
            }
        
            @media only screen and (min-width:1280px) {
                width: 25rem;
            }
        }

        img {
            &:hover {
                border: solid 1px map-get($colors, secondary);
            }
        }
}
    
    &-player {
        position: relative;
        // left: 2rem;
        left: calc(50% - 10vw);
        transform: translate(-50%, 0);
        width: 20.35rem;
        padding: .25rem;
        background-color: map-get($colors, dark);

        @media only screen and (max-width:767px) {
            left: 50%;
            transform: translate((-50%, 0));
        }
    }
   
    @media only screen and (max-width:767px) {
        margin: 0 !important;
        padding: 0 !important;
        background: none;
    }
}