@import '../../scss/shared.scss';

.music {
    @include flexbox(column);

    &-guitar, &-player {
        margin-top: 1rem;
        display: inline-block;
        vertical-align: top;
   
        @media only screen and (max-width:767px) {
            display: block;
            margin: 0 !important;
            margin-top: 1rem !important;
            padding: 0 !important;
            background: none;
        }
    }

    &-guitar {
        img {
            width: 10vw;

            border-radius: $borderRadius;
        
            @media only screen and (max-width:767px) {
                width: 83vw;
            }
        }
    }

    &-player {
        position: relative;
        left: 2rem;
        width: 20.35rem;
        padding: .25rem;
        background-color: map-get($colors, dark);
        
        &-title {
            padding-bottom: .15rem;
            border-bottom: solid 1px map-get($colors, black) !important;
            color: map-get($colors, secondary);
            font-size: map-get($font-size, sm);
            font-weight: 600;

            i {
                color: map-get($colors, light);
            }
        }

        &-controls {
            padding-top: .2rem;
            border-top: solid 1px map-get($colors, black) !important;
            text-align: center;

            a {
                margin-left: 1rem;
                cursor: pointer;
            }
        }

        &-cover {
            img {
                padding: .25rem;
                height: 15rem;
                position: relative;
                left: 50%;
                transform: translate((-50%, 0));
            }
        }

        @media only screen and (max-width:767px) {
            left: 50%;
            transform: translate((-50%, 0));
        }
    }
   
    @media only screen and (max-width:767px) {
        margin: 0 !important;
        padding: 0 !important;
        background: none;
    }
}