@import '../../scss/shared.scss';

.music {
    &-player {
        &-title {
            padding-bottom: .15rem;
            color: map-get($colors, secondary);
            font-size: map-get($font-size, sm);
            font-weight: 600;
    
            i {
                color: map-get($colors, light);
            }
        }
    
        &-controls {
            padding-top: .2rem;
            text-align: center;
    
            a {
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    
        &-cover {
            img {
                padding: .25rem;
                height: 15rem;
                position: relative;
                left: 50%;
                transform: translate((-50%, 0));
            }
        }
    }
}