@import '../../../scss/shared.scss';

header {
    @include borderTopRadius;
    @include colors($color-dark, $color-secondary);

    span {
        float: right;
        font-size: $font-sm;
        margin: 20px 10px;

        @include borderTopRadius;
    }
}

iframe {
    border: none;
    min-width: 365px;
    height: calc(100vh - 17rem);
    @include borderBottomRadius;
    @include colors($color-dark, $color-secondary);
}

.iframeWrapper {
    @include borderTopRadius;
    @include borderBottomRadius;
    border: 1px solid $color-secondary;
    margin-top: 1rem;
    margin-right: 1rem;
}

.iframeContainer {
    background-color: $color-black;

    display: inline-block;
    padding-top: 5px;

    @include borderTopRadius;
    @include borderBottomRadius;
}

.btnClose {
    font-family: $font-titillium;
    font-size: $font-md;
    font-weight: 600;
    width: 2rem;
    background-color: transparent;
    color: $color-primary;
    border: none;
    text-align: center;

    &-red {
        color: $color-red;

        &:hover {
            color: $color-secondary;
        }
    }

    &:hover, &:active {
        background-color: transparent;
    }
}