@import '../../../scss/shared.scss';

.modal {
    padding: 1rem;
    min-width: 20rem;
    min-height: 15rem;
    border: solid 1px map-get($colors, tertiary);

    @include colors(
        map-get($colors, dark),
        map-get($colors, lighter)
    );
    @include borderTopRadius;
    @include borderBottomRadius;

    &::backdrop {
        background-color: rgba(map-get($colors, darker), .9);
    }
    
    &-header {
        margin: 0;
        padding: 0;
        color: map-get($colors, secondary);
    }

    &-button {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}