@import '../../scss/shared.scss';

.toggle {
    position: sticky;
    z-index: 5;
    margin-left: 1rem;
    font-size: map-get($font-size, sm);
    cursor: pointer;
}

.modelViewer {
    height: 35vh;
    width: 35vh;
    background-color: map-get($colors, light);
    border: 1px solid map-get($colors, secondary);

    @include noSelect;
    @include borderTopRadius;
    @include borderBottomRadius;

    &-canvas {
        @include borderTopRadius;
        @include borderBottomRadius;
    }

    &-overlay {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -35vh;
        height: calc(35vh - 2rem);
        width: -35vh;
        padding: 1rem;
        background-color: rgba(map-get($colors, darker), .6);
        
        @include borderTopRadius;
        @include borderBottomRadius;
    }

    &-commands {
        line-height: .7rem;

        &-heading {
            margin-top: 2px;
            font-size: map-get($font-size, sm);
            text-transform: uppercase;
            color: map-get($colors, primary);
            line-height: 1rem;
        }

        &-command, &-action {
            font-size: map-get($font-size, xs);
        }

        &-command {
            display: inline-block;
            width: 60px;
            text-transform: uppercase;
            color: map-get($colors, secondary);
        }
        &-action {
            color: map-get($colors, lighter);
            text-transform: lowercase;
        }
    }
}