@import '../../scss/shared.scss';

.perf {
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: map-get($colors, black);
    border: solid 1px map-get($colors, secondary);
    border-radius: $borderRadius;
}

.canvas {
    background-color: map-get($colors, darker);
    @include borderTopRadius;
    @include borderBottomRadius;
}

.toggle {
    position: sticky;
    z-index: 5;
    margin-left: 1rem;
    font-size: map-get($font-size, sm);
    color: map-get($colors, primary);
    cursor: pointer;
    transition: all .4s;

    &:hover {
        color: map-get($colors, secondary);
    }
}

.modelViewer {
    position: relative;
    height: calc(100vh - 22rem);
    width: calc(100% - 1rem);
    padding: 1;

    @media only screen and (max-width:767px) {
        width: calc(100vw - 4rem);
        height: 27rem;
    }

    border: 1px solid map-get($colors, secondary);
    margin: 1rem 0;

    @include noSelect;
    @include borderTopRadius;
    @include borderBottomRadius;

    &-canvas {
        @include borderTopRadius;
        @include borderBottomRadius;
    }

    &-overlay {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        height: calc(100vh - 24rem);
        width: calc(100% - 2rem);
        // background-color: map-get($colors, light);
    
        @media only screen and (max-width:767px) {
            width: calc(100vw - 6rem);
            height: 25rem;
        }
            padding: 1rem;
        background-color: rgba(map-get($colors, darker), .6);

        @include borderTopRadius;
        @include borderBottomRadius;
    }

    &-commands {
        line-height: .7rem;

        &-heading {
            margin-top: 2px;
            font-size: map-get($font-size, sm);
            text-transform: uppercase;
            color: map-get($colors, primary);
            line-height: 1rem;
        }

        &-command,
        &-action {
            font-size: map-get($font-size, xs);
        }

        &-command {
            display: inline-block;
            width: 60px;
            text-transform: uppercase;
            color: map-get($colors, secondary);
        }

        &-action {
            color: map-get($colors, lighter);
            text-transform: lowercase;
        }
    }
}