@import '../../scss/shared.scss';

.modelViewer {
    height: 35vh;
    width: 35vh;
    background-color: $color-light;

    @include borderTopRadius;
    @include borderBottomRadius;
    border: 1px solid $color-secondary;

    &-commands {
        &-command {
            display: inline-block;
            width: 80px;
            font-size: $font-sm;
            text-transform: uppercase;
            color: $color-secondary;
        }
        &-action {
            font-size: $font-sm;
            color: $color-lighter;
        }
    }
}