@import '../../scss/shared.scss';

.leva-c-kWgxhW,
.leva-c-kWgxhW-bCBHqk-fill-false,
.leva-c-kWgxhW-eXrJvq-flat-false,
.leva-c-kWgxhW-czBHep-hideTitleBar-false {
    margin-top: 4rem;
    margin-right: 0.5rem;
    z-index: 199;
    border: solid 1px map-get($colors, secondary);
}

.leva-c-dosbYs div {
    color:  map-get($colors, secondary);
}

.leva-c-hBtFDW {
    background-color: map-get($colors, black);
}

.leva-c-dKMqBT {
    color:  map-get($colors, tertiary);
}

.leva-c-hwBXYF {
    @include borderTopRadius;
    background-color: map-get($colors, primary);
}

.leva-c-kobjwj {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    height: 1rem;
    cursor: pointer;
}

.leva-c-knrmXZ {
    background-color: map-get($colors, tertiary);
}

.leva-c-gUBGce {
    background-color: map-get($colors, primary);
}

.leva-c-ihqPFh, .button {
    &:not(:disabled) {
        background-color: map-get($colors, primary);
        color: map-get($colors, darker);
        width: calc(100% - 1.5rem);
    }
    &:hover {
        background-color: map-get($colors, dark);
        color: map-get($colors, secondary);
    }
}