@import './resume-base.scss';

.resumeBody {
    width: 46rem;

    background-color: map-get($colors, white);
    color: map-get($colors, darker);
    
    @media only screen {
        padding: 2rem;
    }

    @media only screen and (max-width: 767) {
        width: 5rem !important;
        color: green;
    }
}
    
.section-header {
    &-6rem, &-4rem {
        padding: 0;
        margin: 0;

        span {
            position: relative;
        }
    }

    &-6rem {
        span {
            left: calc(50% - 7rem);
            transform: translate(-50%, 0);
        }
    }

    &-4rem {
        span {
            left: calc(50% - 5rem);
            transform: translate(-50%, 0);
        }
    }
}

.main {
    &-left {
        width: 28rem;
        padding-right: 1rem !important;
    }
}

@media print {
    * {
        padding: 0 !important;
        margin: 0 !important;
    }

    .resumeBody {
        position: relative;
        top: -2rem;
    }
}
