@import './resume-base';

.workexp {
    padding-left: 1rem;
    width: 30em;

    &-line1 {
        @include flexbox(row);

        &-left {
            padding-left: 1rem;
            flex-grow: 3;
            text-align: left;
        }

        &-right {
            flex-grow: 1;
            text-align: right;
        }
    }

    &-line2 {
        font-style: italic;
        font-size: map-get($font-size, sm);

        ul {
            list-style-type: none;
            padding: 0;
            padding-left: 1rem !important;
        }

        li {
            text-align: justify;
            margin-left: 0;

            i {
                padding: 0;
                margin: 0;
            }
        }
    }
}