@import '../../scss/shared.scss';

.homeFlexbox {
    @include flexbox(row);

    &-left {
        padding-right: 1rem;

        &-link {
            text-align: center;
        }
    }
}

.homeSection {
    justify-content: left;
    color: $color-secondary;

    &-container {
        @include flexbox(row);

        &-Menu {
            @include flexbox(column);
            list-style: none;
            color: blue;
        
            &-button {
                &-active {
                    @include colors($color-secondary, $color-dark);
                    border-color: $color-dark;
                }
            }
        }
    
        &-content {
            padding: 2rem;
            width: 100%;

            i {
                color: $color-light;
            }

            p {
                color: $color-lighter;
            }
        }
    }
}