@import '../../scss/shared.scss';

.navbar {
    display: block;
    float: right;
    position: relative;
    top: 4px;
    
    &-navigation {
        display: flex;

        &-left {
            z-index: 200;
            width: 50vw;
            height: 100vh;
            background: linear-gradient(180deg, $color-black, $color-primary 20%, $color-black);
            position: fixed;
            top: 3rem;
            left: -50vw;
            transition: left .8s cubic-bezier(1, 0, 0, 1);

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 25px 50px 25px rgba($color-black, .6);
                opacity: .8;
                border-radius: 10px;
            }     
            
            .left-img-1 {
                top: 15%;
                left: 15%;
            }
            
            .left-img-2 {
                top: 35%;
                left: 25%;
            }
            
            .left-img-3 {
                top: 55%;
                left: 35%;
            }
        }

        &-right {
            z-index: 200;
            width: 50vw;
            height: 100vh;
            background: linear-gradient(180deg, $color-black, $color-dark 20%, $color-black);
            position: fixed;
            top: 3rem;
            right: -50vw;
            align-items: center;
            transition: right .8s cubic-bezier(1, 0, 0, 1);

            @include flexbox(row, center);
        }

        .nav-list {
            position: relative;
            top: -2rem;
                
            @media only screen and (max-height:600px) {
                position: relative;
                top: -5rem;
                left: -1rem;
                height: 60%;
            }

            &-item {
                list-style: none;
            }

            &-link {
                display: block;
                margin: 1rem;
                width: 85%;
                text-align: center;
                font-family: $font-titillium;
                font-size: $font-xl;
                
                @media only screen and (max-width:767px) {
                    font-size: $font-sm;
                    width: 50%;
                }
                
                @media only screen and (max-height:600px) {
                    font-size: $font-sm;
                }
    
                @include borderTopRadius;
                @include borderBottomRadius;

                transition: all .4s;

                &:hover {
                    background-color: $color-dark;
                }
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}