@import '../../scss/shared.scss';

.navbar {
    display: block;
    float: right;
    position: relative;
    top: 4px;
    z-index: 200;

    &-navigation {
        &-left {
            z-index: 200;
            width: 50vw;
            height: 100vh;
            background: linear-gradient(
                180deg, 
                map-get($colors, black), 
                map-get($colors, primary) 20%, 
                map-get($colors, black), 
            );
            position: fixed;
            top: 3rem;
            left: -50vw;
            transition: left .8s cubic-bezier(1, 0, 0, 1);

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 25px 50px 25px rgba(map-get($colors, black), .6);
                opacity: .8;
                border-radius: 10px;

                @media only screen and (max-width:767px) {
                    box-shadow: 15px 25px 25px rgba(map-get($colors, black), .6);
                }
            }     
            
            .left-img-1 {
                top: 15%;
                left: 15%;
                
                @media only screen and (max-width:767px) {
                    top: 35%;
                    left: 15%;
                }
            }
            
            .left-img-2 {
                top: 35%;
                left: 25%;
                
                @media only screen and (max-width:767px) {
                    top: 40%;
                    left: 25%;
                }
            }
            
            .left-img-3 {
                top: 55%;
                left: 35%;
                
                @media only screen and (max-width:767px) {
                    top: 45%;
                    left: 35%;
                }
            }
        }

        &-right {
            z-index: 200;
            width: 50vw;
            height: 100vh;
            background: linear-gradient(
                180deg, 
                map-get($colors, black), 
                map-get($colors, dark) 20%, 
                map-get($colors, black)
            );
            position: fixed;
            top: 3rem;
            right: -50vw;
            align-items: center;
            transition: right .8s cubic-bezier(1, 0, 0, 1);

            @include flexbox(row, center);
        }

        .nav-list {
            position: relative;
            top: -2rem;
            list-style: none;
            padding: 0;
            margin: 0;

            @media only screen and (max-height:600px) {
                position: relative;
                top: -5rem;
                height: 60%;
            }

            &-link, &-link-active {
                display: block;
                margin: 1rem 0;
                padding: 0 1rem;
                text-align: center;
                font-family: map-get($font-family, titillium);
                font-size: map-get($font-size, xl);
                
                @media only screen and (max-width:1086px) {
                    font-size: map-get($font-size, md);
                }
                
                @media only screen and (max-width:767px) {
                    padding: .25rem;
                    font-size: map-get($font-size, sm);
                }
                
                @media only screen and (max-height:600px) {
                    font-size: map-get($font-size, sm);
                }
    
                @include borderTopRadius;
                @include borderBottomRadius;

                transition: all .4s;

                &:hover {
                    background-color: map-get($colors, primary);
                }

                &-active {
                    @include colors(map-get($colors, secondary), map-get($colors, dark));
                    border-color: map-get($colors, dark);
                }
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}