@import '../../scss/shared.scss';

.section {
    color: map-get($colors, secondary);
}

.fafImage {
    padding: 1rem 0;
    width: 10vw;

    @media only screen and (max-width:767px) {
        width: 83vw;
    }
}

.works {
    &-work {
        @include flexbox(row);

        background-color: rgba(map-get($colors, darker), .6);
        border-radius: $borderRadius;
        padding: 1rem;

        &-cover {
            a, img {
                padding: 0;
                margin-left: .5rem;
                border: solid 1px transparent;

                @include borderTopRadius;
                @include borderBottomRadius;
            
                @media only screen and (max-width:767px) {
                    display: block;
                    margin: 0;
                }
            }

            img {
                &:hover {
                    border: solid 1px map-get($colors, secondary);
                }
            }
        }

        &-description {
            margin-left: 2rem;

            @include borderTopRadius;
            @include borderBottomRadius;
    
            h3 {
                padding: 0;
                margin: 0;
                color: map-get($colors, secondary);
            }

            &-body {
                text-transform: lowercase;
                color: map-get($colors, lighter);
                font-size: map-get($font-size, md);
                text-align: justify;

                @media only screen and (max-width:767px) {
                    font-size: map-get($font-size, sm);
                }
            }
        }

        &-cover, &-description {
            @media only screen and (max-width:767px) {
                display: block;
                margin: 0;
                padding: 1rem 0 0 0;
                background: none;
            }
        }

        @media only screen and (max-width:767px) {
            display: block;
            padding: 0;
            background: none;
        }
}
}