@import '../../scss/base.scss';

.footer {
    padding-top: 1rem;
    font-size: $font-sm;
    text-transform: uppercase;
    text-align: center;
                
    @media only screen and (max-width:767px) {
        font-size: $font-xs;
    }
}