@import './scss/base.scss';

#root {
    max-width: 1280px;
    padding: 0 1rem;
}

.main-header {
    display: flex;
    flex-direction: column;

    i {
      color: $color-primary;
      font-size: $font-xl;
    }
}

.titillium {
    @include fonts($font-titillium, $font-xl, 600, $color-primary);
}