@import './scss/shared.scss';

.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: .2rem;

    i {
      color: map-get($colors, primary);
      font-size: map-get($font-size, xl);
    }
}

.titillium {
    @include fonts(
        map-get($font-family, titillium), 
        map-get($font-size, xl), 
        600, 
        map-get($colors, primary)
    );
}

.brand-link {
    &:hover {
        color: map-get($colors, secondary);
    }

    @media only screen and (max-width:767px) {
        letter-spacing: 1;
    }
}

.kicks {
    &-image {
        display: none;

        @media only screen and (min-width:calc(1680px + 4rem)) {
            display: inline;

            &-left {
                position: absolute;
                left: 2rem;
            }

            &-right {
                position: absolute;
                right: 2rem;
            }

            &-left, &-right {
                bottom: 12vh;
                z-index: 15;
                width: 200px;
                animation: fade 15s infinite;
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: .1;
    }
    50% {
        opacity: .9;
    }
    100% {
        opacity: .1;
    }
}

.hamburger-menu {
    width: 40px;
    height: 40px;
                
    @media only screen and (max-width:767px) {
        width: 30px;
        height: 30px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: .4s;
        
        @extend %fullSpace;

        &-line {
            width: 100%;
            height: 4px;
            background-color: map-get($colors, primary);
            transform-origin: right;
            transition: all .4s .4s;
        }
    }
}
