@import '../scss/base.scss';

* {
    letter-spacing: 1px;
}

.placeholder {
    @include flexbox(column);
    width: calc(100vw - 8rem);
}

button {
    margin: 10px;
    width: 115px;
    height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid $color-primary;
    outline: none;

    cursor: pointer;
    transition: all .4s;

    @include colors($color-dark, $color-primary);
    @include borderTopRadius;
    @include borderBottomRadius;

    &:hover {
        @include colors($color-primary, $color-secondary);
        border-color: $color-primary;
    }
}
    
a {
    color: $color-primary;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: all .4s;

    &:hover {
        color: $color-secondary;
    }
}

i {
    padding-right: 1rem;
}

.large-output {
    display: inline;
}

.small-output {
    display: none;
}

@media only screen and (max-width:767px) {
    #chatterbox-text,
    .chatterbox {
        display: none;
    }

    .large-output {
        display: none;
    }

    .small-output {
        display: inline;
    }
}