@import '../scss/base.scss';

* {
    letter-spacing: 1px;
}

$color-main-bg: linear-gradient(
    180deg,map-get($colors, black), 
    map-get($colors, primary) 
    80%, 
    map-get($colors, black)
);

img {
    border: none;
}

button {
    margin: 10px;
    width: 115px;
    height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid map-get($colors, primary);
    outline: none;

    cursor: pointer;
    transition: all .4s;

    @include colors(
        map-get($colors, dark), 
        map-get($colors, primary)
    );
    @include borderTopRadius;
    @include borderBottomRadius;

    &:hover {
        @include colors(
            map-get($colors, primary), 
            map-get($colors, secondary)
        );
        border-color: map-get($colors, primary);
    }
}
    
a {
    color: map-get($colors, primary);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: all .4s;

    &:hover {
        color: map-get($colors, secondary);
    }
}

i {
    padding-right: 1rem;
}

.large-output {
    display: inline;
}

.small-output {
    display: none;
}

@media only screen and (max-width:767px) {
    #chatterbox-text,
    .chatterbox {
        display: none;
    }

    .large-output {
        display: none;
    }

    .small-output {
        display: inline;
    }
}

.temp {
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.redalert {
    div {
        i {
            font-size: 150pt;
            color: map-get($colors, red);
        }
    }
}